<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django App
        {% endblock %}
    </title>
</head>
<body>
    <nav>
        {% if not user.is_authenticated %}
        <a href="/">
            <span role="img" aria-label="Home" title="Home">🏠</span>
        </a> 
        {% else %} 
        <a href="{% url 'posts:list' %}">
            <span role="img" aria-label="Posts" title="Posts">View</span>
        </a> | 
        <a href="{% url 'posts:create' %}">
            <span role="img" aria-label="New Post" title="New Post">Add</span>
        </a> | 
        <form class="logout" action="{% url 'clients:logout' %}" method="post">
            {% csrf_token %} 
            <button class="logout-button" aria-label="User Logout" title="User Logout">Logout</button>
        </form>
        {% endif %}
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>